.cfg
*.log
.AndroidStudio3.5/
.ICEauthority
.android/
.bash_history
.cache/
.config/
.gnupg/
.gradle/
.java/
.lesshst
.local/
.mozilla/
.npm/
.nv/
.nvidia-settings-rc
.php_history
.pki/
.pulse-cookie
.pylint.d/
.python_history
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.thunderbird/
.twinkle/
.vim/
.viminfo
.vimpkg/
.vscode/
.wget-hsts
Android/
Documents/
Downloads/
Pictures/
Qt5.14.0/
Steam/
Videos/
apt-vim/
bin/
code/
code_backUP/
git/
go/
java_error_in_STUDIO_10029.log
perl5/
snap/

